*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
oclif.manifest.json
tsconfig.tsbuildinfo
yarn-error.log
compiled
.npmrc

# tarballs
murshidazher-oclif-tsdx-boilerplate-v*.tgz
